DATABASE_URL=postgresql://...@pooler.supabase.com:5432/postgres
DIRECT_URL=postgresql://...@pooler.supabase.com:5432/postgres
SHOPIFY_WEBHOOK_SECRET=
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
APP_HOST=localhost
UPSTASH_REDIS_REST_URL=https://<your-instance>.upstash.io
UPSTASH_REDIS_REST_TOKEN=
